/* google fonts start */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* google fonts end */

/* common css start  */
:root {
    --primary-green: #A1AB23;
    --bg-green: #0A472E;
    --bg-pine-green:#4D7D6C;
    --dark-green: #042117;
    --white: #FFF;
    --black:#000000;
    --yellow: #FFCE31;
    --red: #F00;
    --accent: #DFB178;
    --gray: #9A9A9A;
    --heading-font: "Lora", serif;
    --text-font: "Nunito", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

img {
    width: 100%;
    vertical-align: middle;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: var(--heading-font);
}

p {
    margin: 0;
}

body {
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 400;
}

/* common css end  */

/* header css start  */
.header-area {}

/* header top start  */
.header-area .header-top-wrapper {
    background-color: var(--bg-green);
}

.header-area .header-top {
    padding: 8px 0;
}

.header-area .header-top .header-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-area .header-top .header-left {
    font-size: 12px;
    color: var(--white);
}

.header-area .header-top .header-right .header-nav {}

.header-area .header-top .header-right .header-nav li {
    display: inline-block;

}

.header-area .header-top .header-right .header-nav li a {
    display: block;
    font-size: 12px;
    font-weight: 500;
    padding: 0 20px;
    color: var(--white);
    transition: all 0.3s;
}

.header-area .header-top .header-right .header-nav li a:hover {
    color: var(--primary-green);
}

.header-area .header-top .header-right .header-nav li:last-child a {
    padding: 0;
}

/* header top end  */

/* navbar start  */
.header-area .navbar {
    margin:12px 0 20px 0 ;
    background-color: var(--white);
}

.header-area .navbar-nav {
    margin-left: 50px;
}

.header-area .navbar-nav a {
    display: inline-block;
    padding: 0 16px !important;
    font-size: 16px;
    font-weight: 700;
    color: var(--dark-green);
    transition: all 0.3s;
}

.header-area .navbar-nav a i {
    margin-left: 5px;
    font-size: 12px;
}

.header-area .navbar-nav a:hover {
    color: var(--primary-green);
}
.header-area .action-badge{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.header-area .action-badge .profile {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E8F8F7;
    border-radius: 50%;
    padding: 10px;
}

.header-area .action-badge  img {
    width: 16px;
    height: 16px;
}

.header-area .action-badge .profile span {
    
    width: 20px;
    height: 20px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    background-color: #DFB178;
    color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}
.header-area .action-badge .favorite{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F3E3;
    border-radius: 50%;
    padding: 10px;
}
.header-area .action-badge .favorite span {
    
    width: 20px;
    height: 20px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    background-color: #DFB178;
    color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -5px;
}
.header-area .action-badge .shop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.header-area .action-badge .shop .shop-bag{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F3E3;
    border-radius: 50%;
    padding: 10px;
}
.header-area .action-badge .shop span{
    color: var(--black);
    font-weight: 700;
}
/* navbar end  */


/* header css end  */

/* hero section css start  */
.hero-area{}
.hero-area .hero-slider{
}
.hero-area .hero-slider .hero-item{
    position: relative;
}
.hero-area  .hero-content{

}
.hero-area .hero-content-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1111;
    
}
.hero-area .hero-content-inner .hero-logo{
    margin: 0 auto 24px auto;
    width: 140px;
    height: 140px;
    
}
.hero-area .hero-content .sub-title{
    color: var(--yellow);
    font-weight: 700;
}
.hero-area .hero-content .hero-heading{
    margin: 18px 0 43px 0;
    color: var(--white);
    font-weight: 700;
}
.hero-area .hero-content .hero-text{
    margin-bottom: 43px;
    color: var(--white);
}
.hero-area .hero-content .hero-text .sale{
    color: var(--yellow);
    font-weight: 900;
}
.hero-area .hero-content .hero-text .offer{
    color: var(--red);
    font-weight: 900;
}
.hero-area .hero-content .view-btn{
    display: inline-block;
    background: var(--bg-pine-green);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 35px;
    transition: 0.3s;
}
.hero-area .hero-content .view-btn i{
    margin-left: 16px;
    font-size: 12px;
    color: var(--white);
   
}
.hero-area .hero-content .view-btn:hover{

    background: var(--primary-green);
    
}
.prev{
    background-color: var(--white);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    right: 122px;
    top: 45%;
    z-index: 11;
    color:var(--dark-green);
}
.next{
    background-color: var(--white);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    left: 122px;
    top: 45%;
    z-index: 11;
    color: var(--dark-green);
}

/* hero section css end  */

/* about area css start  */
.about-area{
padding: 110px 0;
}
.about-area .about-img{

}

.about-area .about-content .sub-title{
    color: var(--primary-green);
    font-weight: 500;
}
.about-area .about-content .about-heading{
    margin-top: 14px;
    color: var(--dark-green);
    font-weight: 700;

}
.about-area .about-content .about-text{
    margin: 30px 0;
    line-height: 27px;

}
.about-area .about-content .founder{
    display: flex;
    gap: 20px;
    align-items: center;
}
.about-area .about-content .founder img{
    width: 84px;
    height: 84px;
}

.about-area .about-content .founder-text .founder-name{
    font-weight: 700;
    color: var(--dark-green);
}
.about-area .about-content .founder-text .founder-position{
    color: var(--primary-green);
}
/* about area css end  */